spring.application.name=newunimol
spring.datasource.url=jdbc:mariadb://127.0.0.1:3306/gestore_materiale_didattico
spring.datasource.username=
spring.datasource.password=
server.port=8080
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
logging.level.it.unimol.newunimol.materialedidattico=DEBUG
logging.file.name=logs/app.log
jwt.public-key=


spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest



rabbitmq.exchange.materiale=materiale.exchange
rabbitmq.queue.materiale.created=materiale.created.queue
rabbitmq.queue.materiale.updated=materiale.updated.queue
rabbitmq.routing-key.materiale.created=materiale.created
rabbitmq.routing-key.materiale.updated=materiale.updated
rabbitmq.queue.materiale.deleted=materiale.deleted.queue
rabbitmq.routing-key.materiale.deleted=materiale.deleted


rabbitmq.exchange.corso=corsoExchange
rabbitmq.queue.corso.exist=corsoExistQueue
rabbitmq.routing-key.corso.exist=corso.exist

